@tailwind base;

h1 {
  @apply text-2xl;
  @apply font-bold

}
h2 {
  @apply text-xl;
  @apply font-semibold mt-8 mb-1;
  @apply border-b-2 border-solid border-gray-100;
  padding-bottom: 2px;
}
h3 {
  @apply text-lg;
  @apply font-medium;
}
a {
  @apply underline;
}

p {
  @apply mb-4;
}

/*
body {
  height: 100vh;
  background: linear-gradient(100deg, rgba(166,222,229,1) 0%, rgba(82,175,186,1) 35%, rgba(68,152,161,1) 100%);
}
*/

button {
  @apply border border-solid border-gray-200 rounded px-4 py-2 hover:bg-gray-50
}

@tailwind components;
@tailwind utilites;

