@tailwind base;

h1 {
  @apply text-2xl;
  @apply font-bold

}
h2 {
  @apply text-xl;
  @apply font-semibold mt-8 mb-1;
  padding-bottom: 2px;
}
h3 {
  @apply text-lg;
  @apply font-medium;
}
a {
  @apply underline;
}

p {
  @apply mb-4;
}

body {
  position: relative;
}

body.no-overflow {
  overflow: hidden;
  padding-right: 12px;
}

button {
  @apply border border-solid border-gray-200 rounded px-4 py-2 hover:bg-gray-50
}

@tailwind components;
@tailwind utilites;

